:root {
    --app-bg-color: #f0f0f0;
    --sidebar-bg-color: #1f1a24;
}

html, body {
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
    background-color: var(--app-bg-color);
    display: flex;
}

#sidebar {
    width: 192px;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--sidebar-bg-color);
    font-weight: bold;
    color: #aaa;
    box-shadow: -6px 0 5px 5px rgba(0, 0, 0, 0.7);
}

.sidebar-section {
    border-bottom: 1px solid #808080;
    padding: 4px 0;
}

.sidebar-section-title {
    font-size: 12px;
    color: #888;
    padding: 0 4px;
}

.sidebar-section-content {
    font-size: 16px;
    color: #eee;
    padding: 4px 8px;
    cursor: pointer;
}

.sidebar-section-content:hover {
    background-color: #ffffff11;
}

#sidebar-railwayName {
    color: #eee;
}

#sidebar-logo {
    display: flex;
}

#sidebar-logo-img {
    height: 32px;
    margin: auto;
}

#mainWindow {
    flex: 1;
    position: relative;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

#mainWindow.startPage>h1 {
    color: #222222;
    font-size: 20px;
    margin: 16px 0;
}

#mainWindow.startPage>h2 {
    color: #666666;
    font-size: 16px;
    margin: 24px 0 0;
}

#mainWindow.startPage>p {
    margin: 0;
    color: #222222;
}

#mainWindow.startPage>p>a {
    color: #a852ff;
    text-decoration: none;
    background: linear-gradient(to bottom, transparent 40%, #a852ffaa 60%);
    transition: .3s linear;
    background-position: 0 0%;
    background-size: 100% 200%;
}

#mainWindow.startPage>p>a:hover {
    color: #ffffff;
    background-position: 0 100%;
}

#mainWindow.startPage {
    padding: 8px
}

h3 {
    margin: 0;
}

#start-openButton {
    display: inline-block;
    width: 244px;
    background-color: #a852ff;
    color: white;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #00000000, #00000044);
    cursor: pointer;
}

#start-urlSection {
    display: flex;
    justify-content: center;
}

#fileSelector {
    display: none;
}

#start-main {
    max-width: 400px;
    border: 2px solid #a852ff;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    position: relative;
}

#start-main.drag:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #a852ff;
    content: 'ここにファイルをドロップ！';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

input#fileURL {
    padding: 4px;
    height: 24px;
    border: 2px solid #a852ff;
    border-radius: 4px 0 0 4px;
    width: 200px;
    border-right: none;
}

button#fileRequester {
    border-radius: 0 4px 4px 0;
    background-color: #a852ff;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 50px;
    background-image: linear-gradient(to bottom, #00000000, #00000044);
    padding: 0;
}

#main-or {
    margin: 16px 0;
}

.start-caption {
    font-size: 10px;
    color: #aaa;
}

code {
    background: #00000022;
    padding: 2px 4px;
    font-weight: bold;
}

.largeTable-cell {
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1;
    font-size: 13px;
    text-align: center;
    border-bottom: 1px solid transparent;
}

#diagram-time {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 16px;
    background-color: var(--app-bg-color);
    box-shadow: 0 -10px 2px 10px #00000088;
    z-index: 2;
    transform: scale(1, 1) translate(0, 0);
    transform-origin: 80px 0;
}

#diagram-station {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 80px;
    height: 100%;
    background-color: var(--app-bg-color);
    box-shadow: -10px 0 2px 10px #00000088;
    z-index: 3;
    float: left;
    transform: scale(1, 1) translate(0, 0);
    transform-origin: 0 0;
}

#diagram-svg {
    position: absolute;
    top: 16px;
    left: 80px;
    transform: scale(1, 1) translate(0, 0);
    transform-origin: 0 8px;
}

.diagram-label {
    position: absolute;
    font-size: 12px;
    line-height: 1;
    color: #444;
}

#diagram-time>.diagram-label {
    width: 40px;
    text-align: center;
}

#diagram-station>.diagram-label {
    width: 80px;
    left: 0;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

#diagram-tools {
    position: fixed;
    right: 8px;
    bottom: 8px;
    z-index: 4;
}

.diagram-tools-container {
    position: absolute;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 2px #000000aa;
    display: flex;
}

.diagram-tools-button {
    width: 32px;
    height: 32px;
    filter: brightness(1.2);
    background-size: contain;
}

#diagram-tools-container1 {
    bottom: 40px;
    right: 0;
    width: 32px;
    flex-wrap: wrap;
}

#diagram-tools-container2 {
    bottom: 40px;
    right: 40px;
}

#diagram-tools-container3 {
    bottom: 0;
    right: 0;
}

#diagram-tools-zoomin {
    background-image: url(img/plus.svg);
}

#diagram-tools-zoomout {
    background-image: url(img/minus.svg);
}

#diagram-tools-widen {
    background-image: url(img/widen.svg);
}

#diagram-tools-narrow {
    background-image: url(img/narrow.svg);
}

#diagram-tools-inbound {
    background-image: url(img/inbound.svg);
}

#diagram-tools-outbound {
    background-image: url(img/outbound.svg);
}

.st-header {
    margin: 8px 0;
    color: #222;
}

.st-header-title {
    font-size: 20px;
    font-weight: bold;
}

.st-header-direction {
    float: right;
    line-height: 24px;
    background: #e0e0e0;
    border-radius: 4px;
    padding: 0 4px;
}

.st-header-diagram {
    color: #666;
    font-size: 12px;
}

.st-sheet {
    max-width: 700px;
    flex: 1;
    margin: 16px 8px;
    box-shadow: 1px 1px 6px -1px #00000088;
    padding: 6px;
}

.st-row {
    display: flex;
    min-height: 28px;
}

.st-hour {
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #444;
    font-size: 16px;
    border-right: 2px solid var(--app-bg-color);
}

.st-row:nth-child(2n-1) {
    background: #e0e0e0;
}

.st-train {
    width: 20px;
    margin: 4px 2px;
    text-align: center;
}

.st-minutes {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.st-train-terminal {
    font-size: 10px;
    color: #444;
    height: 12px;
}

.st-train-minute {
    font-size: 15px;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.st-footer {
    font-size: 12px;
    line-height: 1.2;
    color: #333;
    border-top: 1px solid #ccc;
    padding-top: 8px;
    margin: 4px 0;
}

#directionSelector {
    display: none;
}

#stationSelector {
    font-size: 14px;
    padding: 4px 30px 4px 4px;
    line-height: 1.5;
    background: linear-gradient(45deg, transparent 50%, #a852ff 50%), linear-gradient(315deg, transparent 50%, #a852ff 50%), linear-gradient(to bottom, #00000000, #00000022), linear-gradient(to right, #e0e0e0 calc(100% - 26px), #d4a4ff calc(100% - 26px));
    background-position: calc(100% - 13px) 50%, calc(100% - 8px) 50%, left top, left top;
    background-size: 5px 5px, 5px 5px, cover, cover;
    background-repeat: no-repeat;
    border: 1px solid #aaa;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
    font-weight: bold;
    margin-bottom: 8px;
    position: relative;
    background-image:
}

#st-tools {
    margin: 16px 8px;
}

.st-tools-title {
    color: #888;
    font-weight: bold;
    font-size: 12px;
}

.st-tools-direction {
    border: 1px solid #aaa;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.st-tools-direction-child {
    padding: 4px 0;
    text-align: center;
    font-weight: bold;
    flex: 1;
    background-image: linear-gradient(to bottom, #00000000, #00000022);
}

#directionSelector:checked+.st-tools-direction>.st-tools-direction-child:last-child, .st-tools-direction>.st-tools-direction-child:first-child {
    color: #888888;
    color: #00000066;
    background-color: #dbb3ff;;
}

#directionSelector:checked+.st-tools-direction>.st-tools-direction-child:first-child, .st-tools-direction>.st-tools-direction-child:last-child {
    color: white;
    background-color: #a852ff;
}
.st-tools-direction-checkbox:disabled{
    display: none;
}
.st-tools-direction-item {
    display: block;
}